<div class="min-h-screen bg-isabelline text-smoky">
  @if (currentView === 'onboarding') {
    <app-onboarding (profileSelected)="selectProfile($event)"></app-onboarding>
  }

  @if (currentView === 'personal') {
    <div class="p-10 flex flex-col items-center justify-center min-h-screen">
      <h1 class="text-4xl font-bold">{{ 'ONBOARDING.PERSONAL_TITLE' | translate }}</h1>
      <p class="mt-4 opacity-70">{{ 'ONBOARDING.PERSONAL_DESC' | translate }}</p>
    </div>

  }

  @if (currentView === 'store') {
    <div class="p-10 flex flex-col items-center justify-center min-h-screen">
      <h1 class="text-4xl font-bold">{{ 'ONBOARDING.STORE_TITLE' | translate }}</h1>
      <p class="mt-4 opacity-70">{{ 'ONBOARDING.STORE_DESC' | translate }}</p>
    </div>
  }

</div>
