<div class="min-h-screen bg-isabelline text-smoky dark:bg-gh-bg dark:text-gh-text transition-colors duration-500">

  @if (currentView === ProfileType.ONBOARDING) {
    <app-onboarding (profileSelected)="selectProfile($event)"></app-onboarding>
  }

  @if (currentView === ProfileType.PERSONAL) {
    <app-personal-dashboard (onSwitchProfile)="currentView = ProfileType.ONBOARDING"></app-personal-dashboard>
  }

  @if (currentView === ProfileType.STORE) {
    <app-store-dashboard (onSwitchProfile)="currentView = ProfileType.ONBOARDING"></app-store-dashboard>
  }

</div>
