@use "tailwindcss";
@theme {
  --color-smoky: #0F0A0A;
  --color-isabelline: #F5EFED;
  --color-sunglow: #FFD04F;
}

body {
  @apply bg-isabelline;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
